

td img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 10px;
}

td a{
    text-decoration: none;
    /* background-color: rgba(44,104,255,0.455); */
    background-color: blueviolet;
    /* color: rgba(44,104,255); */
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}
td a:hover{
   /* transform: scale(1); */
   background-color: rgba(62, 115, 248, 0.646);
}
td button{
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}